:root {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif
}
.footer {
  padding: 2rem;
  background: #fff;
  color: #000;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.2rem
}
@media screen and (max-width:675px) {
  .footer {
    font-size: 2vw;
    display: flex;
    flex-direction: column;
    gap: 0;
    padding: 0
  }
}