<app-sidebar></app-sidebar>

<div class="main-container">

  <nav class="nav-pasos">
    <a [class.active]="pasoActual === 1">Information</a>
    <a [class.active]="pasoActual === 2">Choice of p</a>
    <a [class.active]="pasoActual === 3">Choice of g</a>
    <a [class.active]="pasoActual === 4">Key Creation</a>
    <a [class.active]="pasoActual === 5">Encryption</a>
    <a [class.active]="pasoActual === 6">Decryption</a>

  </nav>

  <div class="pasos">
    <div class="paso" *ngIf="pasoActual === 1">
      <div class="info">
        <h1>ElGamal Cryptosystem</h1>
        <p>The ElGamal cryptosystem is a public-key encryption system named after its creator, Taher ElGamal. It was
          proposed by ElGamal in 1985 and is considered a secure alternative to the RSA public-key encryption algorithm.
          This cryptosystem is based on the difficulty of solving the discrete logarithm problem in a finite group,
          which is a computationally challenging task.</p>
        <p>In the ElGamal cryptosystem, each user has a pair of keys: a private key and a public key. The private key is
          kept secret, while the public key is openly shared. The encryption process uses the recipient's public key,
          and only the recipient who possesses the corresponding private key can decrypt the encrypted message.</p>
        <p>The key generation process in ElGamal involves selecting a cyclic group of finite prime numbers and choosing
          a generator for that group. Encryption is performed by choosing a random number to generate a session key, and
          then cyclic group operations are used to produce the encrypted text. The security of the cryptosystem is based
          on the difficulty of solving the discrete logarithm problem, which involves finding the unknown exponent given
          a base number and the result of modular exponentiation.</p>
      </div>
      <h2>Practical Example: Alice, Bob, and Eve</h2>

      <table>
        <tr>
          <th colspan="2">Publicly Shared Creation Parameters</th>
        </tr>
        <tr>
          <td colspan="2">Alice and Bob choose a large prime p and an integer g mod p with a large prime order in Fp
          </td>
        </tr>

        <tr style="border-bottom: 1px solid #ddd;">
          <th class="mitad">Alice</th>
          <th class="mitad">Bob</th>
        </tr>
        <tr>
          <th colspan="2">Key Generation</th>
        </tr>
        <tr>
          <td>Alice chooses her private key 1 ≤ a ≤ p-1</td>
          <td></td>
        </tr>
        <tr>
          <td>Calculates A = g^a mod p</td>
          <td></td>
        </tr>
        <tr>
          <td>Shares the public key A</td>
          <td></td>
        </tr>
        <tr>
          <th colspan="2">Encryption</th>
        </tr>
        <tr>
          <td></td>
          <td>Chooses plaintext message m</td>
        </tr>
        <tr>
          <td></td>
          <td>Chooses random element k</td>
        </tr>
        <tr>
          <td></td>
          <td>Uses Alice's public key A to calculate and send c1 = g^k mod p and c2 = mA^k mod p</td>
        </tr>
        <tr>
          <th colspan="2">Decryption</th>
        </tr>
        <tr>
          <td>Calculates (c1^a)^-1 * c2 mod p = m</td>
          <td></td>
        </tr>
      </table>



    </div>
    <div class="paso" *ngIf="pasoActual === 2">
      <div class="info">
        <h1>Choosing the Prime p for the Group</h1>
        <p>Choose one of the following prime numbers</p>
      </div>
      <div class="primos">
        <div *ngFor="let fila of filas" class="fila">
          <div *ngFor="let primo of fila" class="numero-primo" (click)="seleccionarPrimo(primo)">
            {{ primo }}
          </div>
        </div>
      </div>




    </div>
    <div class="paso" *ngIf="pasoActual ===3">
      <div class="info">
        <h1>Choosing the Element g in the Group of F{{p}}</h1>
        <p>Choose one of the following numbers in the group with a larger order</p>
      </div>
      <div class="primos">
        <div *ngFor="let filaN of filasNumeros" class="fila">
          <div *ngFor="let elemento of filaN" class="numero-primo" (click)="seleccionarElemento(elemento.numero)">
            {{ elemento.numero }}
          </div>
        </div>
      </div>

    </div>
    <div class="paso" *ngIf="pasoActual ===4">
      <div class="info">
        <h1>Private Key Generation</h1>
        <p>Alice chooses her private key 0 < a < p-1 and calculates her public key with it: A=g^a (mod p)</p>
            <p class="label">
            <p>Enter the number a:</p>
      </div>
      <input type="number" class="inputType" id="clavePrivada" [class.invalid]="!clavePrivadaValida" [(ngModel)]="a"
        min="1" [max]="p - 1" (ngModelChange)="actualizarA()" />
      <p *ngIf="!clavePrivadaValida" class="mensaje-error">Enter a valid private key between 1 and {{ p - 1 }}</p>
      <p *ngIf="clavePrivadaValida" class="resultado">The value of the public key A = g^a (mod p) is: {{A}}</p>
    </div>
    <div class="paso" *ngIf="pasoActual === 5">
      <div class="info">
        <h1>Message Selection and Encryption</h1>
        <p>Bob chooses his plaintext message m and a random element 0 < k < p</p>
            <p>Bob uses Alice's public key A to calculate and send c1 = g^k mod p and c2 = mA^k mod p</p>
      </div>


      <div class="inputs">
        <p> Introduce el mensaje</p>
        <p>Introduce el elemento aleatorio</p>
      </div>
      <div class="inputs">
        <input type="number" id="mensaje" class="inputType" [class.invalid]="!mensajeValidado" [(ngModel)]="m" min="1"
          [max]="p - 1" (ngModelChange)="actualizarM()" />
        <input type="number" id="aleatorio" class="inputType" [class.invalid]="!aleatorioValidado" [(ngModel)]="k"
          min="1" [max]="p - 1" (ngModelChange)="actualizarK()" />
      </div>
      <div class="inputs">
        <p *ngIf="!mensajeValidado" class="mensaje-error">Enter a valid message between 1 and {{ p - 1 }}</p>
        <p *ngIf="!aleatorioValidado" class="mensaje-error">Enter a valid random element between 1 and {{ p - 1 }}</p>
      </div>

      <div class="inputsRes" *ngIf="mensajeValidado && aleatorioValidado">
        <p class="resultado"> C1 : {{c1}}</p>
        <p class="resultado"> C2 : {{c2}}</p>
      </div>


    </div>
    <div class="paso" *ngIf="pasoActual ===6">
      <div class="info">
        <h1>Message Decoding</h1>
        <p>Alice receives c1 and c2 from Bob</p>
        <p>Alice uses her private key a to calculate the message m = c2^a mod p</p>

        <p>p: {{p}} , g: {{g}} , a: {{a}} , A: {{A}} , k: {{k}} , m: {{m}} , (c1,c2): ({{c1}},{{c2}}) </p>
      </div>
      <p class="resultado">So, the result of this operation would be:</p>
      <p class="resultado">m = (c1^a)^-1 * c2 mod p = {{d}}</p>
    </div>
    <div class="botones">
      <button *ngIf="pasoActual > 1" (click)="retrocederAlPasoAnterior()">Go back to {{ nombresPasos[pasoActual - 2]
        }}</button>
      <button *ngIf="pasoActual < 6" (click)="avanzarAlSiguientePaso()">Go to {{ nombresPasos[pasoActual]
        }}</button>
    </div>
  </div>
</div>
<app-footer></app-footer>