<app-sidebar></app-sidebar>

<div class="main-container">

  <nav class="nav-pasos">
    <a (click)="mostrarPaso(1)" [class.active]="pasoActual === 1">Información</a>
    <a (click)="mostrarPaso(2)" [class.active]="pasoActual === 2">Elección de p</a>
    <a (click)="mostrarPaso(3)" [class.active]="pasoActual === 3">Elección de g</a>
    <a (click)="mostrarPaso(4)" [class.active]="pasoActual === 4">Creación de clave</a>
    <a (click)="mostrarPaso(5)" [class.active]="pasoActual === 5">Encriptación</a>
    <a (click)="mostrarPaso(6)" [class.active]="pasoActual === 6">Desencriptación</a>
  </nav>

  <div class="pasos">
    <div class="paso" *ngIf="pasoActual === 1">
      <div class="info">
        <h1>Criptosistema Elgamal</h1>
        <p>El algoritmo de encriptación de clave pública Elgamal se basa en el problema del logaritmo discreto y está
          estrechamente relacionado con su precursor, el intercambio de claves Diffie-Hellman. Este sistema tiene
          varias versiones que dependen del grupo en el que se desarrolle. Aunque se explicará la versión basada en
          Fp, existe otra variante que se basa en grupos de curvas elípticas sobre cuerpos finitos.</p>

        <p>El algoritmo de Elgamal se basa en el problema del logaritmo discreto, que consiste en encontrar el exponente
          x de una potencia g^x en un grupo G. Este problema es difícil de resolver en algunos grupos, como los grupos
          de curvas elípticas o los grupos de puntos de curvas elípticas sobre cuerpos finitos.</p>
      </div>
      <h2>Ejemplo Práctico: Alice, Bob y Eve</h2>

      <table>
        <tr>
          <th colspan="2">Parámetros públicos de creación</th>
        </tr>
        <tr>
          <td colspan="2">Alice y Bob escogen un primo grande p y un entero g mod p con un orden primo grande en Fp</td>
        </tr>
        <tr style="border-bottom: 1px solid #ddd;">
          <th class="mitad">Alice</th>
          <th class="mitad">Bob</th>
        </tr>
        <tr>
          <th colspan="2">Creación de las claves</th>
        </tr>
        <tr>
          <td>Alice escoge su clave privada 1 ≤ a ≤ p-1</td>
          <td></td>
        </tr>
        <tr>
          <td>Calcula A = g^a mod p</td>
          <td></td>
        </tr>
        <tr>
          <td>Comparte la clave pública A</td>
          <td></td>
        </tr>
        <tr>
          <th colspan="2">Encriptación</th>
        </tr>
        <tr>
          <td></td>
          <td>Escoge su texto en claro m</td>
        </tr>
        <tr>
          <td></td>
          <td>Escoge el elemento aleatorio k</td>
        </tr>
        <tr>
          <td></td>
          <td>Usa la clave pública de Alice A para calcular y enviar c1 = g^k mod p y c2 = mA^k mod p</td>
        </tr>
        <tr>
          <th colspan="2">Desencriptación</th>
        </tr>
        <tr>
          <td>Calcula (c1^a)^-1 * c2 mod p = m</td>
          <td></td>
        </tr>
      </table>


    </div>
    <div class="paso" *ngIf="pasoActual === 2">
      <div class="info">
        <h1>Elección del primo p para el grupo</h1>
        <p>Elige uno de los siguientes números primos</p>
      </div>
      <div class="primos">
        <div *ngFor="let fila of filas" class="fila">
          <div *ngFor="let primo of fila" class="numero-primo" (click)="seleccionarPrimo(primo)">
            {{ primo }}
          </div>
        </div>
      </div>
      
      


    </div>
    <div class="paso" *ngIf="pasoActual ===3">
      <div class="info">
        <h1>Elección del elemento g en el grupo de F {{p}}</h1>
        <p>Elige uno de los siguientes números en el grupo con orden más grande</p>
      </div>
      <div class="primos">
        <div *ngFor="let filaN of filasNumeros" class="fila">
          <div *ngFor="let elemento of filaN" class="numero-primo" (click)="seleccionarElemento(elemento.numero)">
            {{ elemento.numero }}
          </div>
        </div>
      </div>

    </div>
    <div class="paso" *ngIf="pasoActual ===4">
      <div class="info">
        <h1>Creación de clave privada</h1>
        <p>Alice escoge su clave privada 0 < a < p-1 y calcula su clave pública con ella A = g^a (mod p) </p>
        <p>Introduce el número a:</p>
      </div>
      <input type="number" class="inputType" id="clavePrivada" [class.invalid]="!clavePrivadaValida" [(ngModel)]="a" min="1" [max]="p - 1" (ngModelChange)="actualizarA()"/>
      <p *ngIf="!clavePrivadaValida" class="mensaje-error">Ingrese una clave privada válida entre 1 y {{ p - 1 }}</p>
      <p *ngIf="clavePrivadaValida" class="resultado">El valor de la clave pública A = g^a (mod p) es:</p>
      <p *ngIf="clavePrivadaValida" class="resultado">{{A}}</p>

    </div>
    <div class="paso" *ngIf="pasoActual === 5">
      <div class="info">
        <h1>Elección del mensaje y encriptación</h1>
        <p>Bob escoge su texto en claro m y un elemento aleatorio 0 < k < p</p>
        <p>Bob usa la clave pública de Alice A para calcular y enviar c1 = g^k mod p y c2 = mA^k mod p</p>
      </div>
      
      <div class="inputs">
        <p>Introduce el mensaje</p>
        <p>Introduce el elemento aleatorio</p>
      </div>
      <div class="inputs">
        <input type="number" id="mensaje" class="inputType" [class.invalid]="!mensajeValidado" [(ngModel)]="m" min="1" [max]="p - 1" (ngModelChange)="actualizarM()"/>
        <input type="number" id="aleatorio" class="inputType" [class.invalid]="!aleatorioValidado" [(ngModel)]="k" min="1" [max]="p - 1" (ngModelChange)="actualizarK()"/>
      </div>
      <div class="inputs">
        <p *ngIf="!mensajeValidado" class="mensaje-error">Ingrese un mensaje válida entre 1 y {{ p - 1 }}</p>
        <p *ngIf="!aleatorioValidado" class="mensaje-error">Ingrese un aletorio válido entre 1 y {{ p - 1 }}</p>
      </div>
      
      <div class="inputs" *ngIf="mensajeValidado && aleatorioValidado">
        <p style="font-size: 2vw;"> C1 : {{c1}}</p>
        <p style="font-size: 2vw;"> C2 : {{c2}}</p>
      </div>
    
    
    </div>
    <div class="paso" *ngIf="pasoActual ===6">
      <div class="info">
        <h1>Decodificación del mensaje</h1>
        <p>Alice recibe c1 y c2 de Bob</p>
        <p>Alice usa su clave privada a para calcular el mens
          aje m = c2^a mod p</p>
        <p>p: {{p}} , g: {{g}} , a: {{a}} , A: {{A}} , k: {{k}} , m: {{m}} , (c1,c2): ({{c1}},{{c2}}) </p>
      </div>
      <p>La desencriptación del mensaje se da por la fórmula: (c1^a)^-1 * c2 mod p = m</p>
      <p>m = (c1^a)^-1 * c2 mod p = {{d}}</p>


    
    
    </div>
    <div class="botones">
      <button *ngIf="pasoActual > 1" (click)="retrocederAlPasoAnterior()">Retroceder a {{ nombresPasos[pasoActual - 2] }}</button>
      <button *ngIf="pasoActual < 6" (click)="avanzarAlSiguientePaso()">Avanzar a {{ nombresPasos[pasoActual] }}</button>
    </div>
  </div>
</div>
<app-footer></app-footer>