<app-sidebar></app-sidebar>
<div class="main-container">
    <div class="infoInicial">
        <p><b class="tituloPequeño">Cryptography</b> has played a crucial role throughout human history.
            Since the dawn of time, people have sought ingenious ways
            to protect sensitive information and ensure the confidentiality
            of communication. Starting with rudimentary forms of encryption used
            by ancient civilizations and evolving into the most complex algorithms of the
            current digital era, this practice has exerted a profound influence on our
            society.</p>
    </div>
    <div class="rectangles">
        <div class="rectangle left one">
            <h3>1900 a.C</h3>
            <div class="rectangle-column">
                <h1>Tomb of Khnumhotep II</h1>
                <h2>The first known use of encryption comes from an inscription carved on the chamber of the tomb of
                    Khnumhotep II, a noble
                    from ancient Egypt. In this case, it is believed that the scribe chose to use unusual hieroglyphs
                    instead of the more
                    conventional ones, not to hide the message itself but probably to give it a more dignified
                    appearance.</h2>

            </div>
        </div>
        <div class="rectangle right two">


            <div class="rectangle-column">
                <h1>Caesar Cipher</h1>
                <h2>In the times of the Romans, we have the example of the well-known Caesar Cipher. This cipher is a
                    substitution cipher, as it involves taking each letter of the plaintext and shifting it k times in
                    the
                    alphabet, thereby obtaining an encrypted text. For example, for a key k = 3, the letter 'a' would
                    become
                    'd', and the letter 'c' would become 'f'. This cipher system can be better understood through two
                    wheels
                    containing the entire alphabet.</h2>
            </div>
            <h3>100 a.C</h3>

        </div>
        <div class="rectangle left three">
            <h3>XV-XVI</h3>
            <div class="rectangle-column">
                <h1>Vigenere Cipher</h1>
                <h2>One of the early polyalphabetic ciphers is the Vigenere Cipher. Unlike the Caesar Cipher,
                    where a simple shift of characters is performed, in this cipher, each letter in the plaintext
                    is shifted by different positions according to a keyword. The keyword
                    is repeated throughout the message for encrypting and decrypting the text. The letter at the
                    corresponding position of the keyword indicates how many positions the corresponding letter
                    of the plaintext should be shifted.</h2>
            </div>

        </div>
        <div class="rectangle right four">

            <div class="rectangle-column">
                <h1>Enigma Machine</h1>
                <h2>
                    The emergence of polyalphabetic encryption responded to the need for security in
                    communications, especially during the turn of the century with the rise of radio transmissions. In
                    the case
                    of the Enigma,
                    its rotors and cables generated a dynamic and changing encryption for each letter, making it highly
                    intricate
                    and difficult to decipher. Despite the complexity of machines like the Enigma,
                    the British managed to decipher crucial messages through collaboration with Polish cryptographers
                    and the
                    genius of Alan Turing, contributing significantly to the Allied war effort.</h2>

            </div>
            <h3>1900</h3>
        </div>
    </div>
</div>
<app-footer></app-footer>