<app-sidebar></app-sidebar>
<div class="main-container">
    <div class="infoInicial">
        <p>La criptografía ha desempeñado un papel fundamental a lo largo de la historia
            humana. Desde el principio del tiempo, las personas han buscado formas in-
            geniosas para proteger la información sensible y garantizar la confidencialidad
            de la comunicación. Comenzando con formas rudimentarias de cifrado utiliza-
            das por civilizaciones antiguas y llegando a los más complejos algoritmos de la
            era digital actual, esta práctica ha ejercido una influencia profunda en nuestra
            sociedad.</p>
    </div>
    <div class="rectangles">
        <div class="rectangle left one">
            <h3>1900 a.C</h3>
            <div class="rectangle-column">
                <h1>Tumba de Khnumhotep II</h1>
                <h2>El primer conocimiento que se tiene sobre su uso es de una
                    inscripción tallada sobre la cámara de la tumba de Khnumhotep II, un noble
                    del antiguo Egipto. En esta, se cree que el escriba optó por
                    utilizar unos jeroglíficos inusuales en lugar de los más convencionales, no para
                    ocultar el mensaje en sí, sino probablemente para que su apariencia fuera más
                    digna.</h2>
            </div>
        </div>
        <div class="rectangle right two">


            <div class="rectangle-column">
                <h1>Cifrado César</h1>
                <h2>En tiempos de los romanos, tenemos como ejemplo
                    el conocido Cifrado César. Este cifrado es de desplazamiento, ya que consiste
                    en tomar cada letra del texto en claro y desplazarla k veces en el alfabeto, ob-
                    teniendo así un texto cifrado. Por ejemplo, para una clave k = 3, la letra ’a’ se
                    convertiría en ’d’, y la letra ’c’ en ’f’. Este sistema de cifrado se puede entender
                    mejor mediante dos ruedas que contienen todo el alfabeto.</h2>
            </div>
            <h3>100 a.C</h3>

        </div>
        <div class="rectangle left three">
            <h3>XV-XVI</h3>
            <div class="rectangle-column">
                <h1>Cifrado Vigènere</h1>
                <h2>Uno de los primeros cifrados polialfabéticos es el cifrado Vigenère. A diferencia del cifrado César,
                    donde se realiza un simple desplazamiento de
                    caracteres, en este cifrado, cada letra en el texto plano
                    se desplaza a posiciones diferentes según una palabra clave. La palabra clave
                    se repite a lo largo del mensaje para cifrar y descifrar el texto. La letra en la
                    posición correspondiente de la palabra clave indica cuántas posiciones se debe
                    desplazar la letra correspondiente del texto plano.</h2>
            </div>
        </div>
        <div class="rectangle right four">

            <div class="rectangle-column">
                <h1>Máquina Enigma</h1>
                <h2>
                    El surgimiento del cifrado polialfabético respondió a la necesidad de seguridad en las
                    comunicaciones,
                    especialmente durante el cambio de siglo con el auge de las transmisiones de radio. En el caso de la
                    Enigma,
                    sus rotores y cables generaban un cifrado dinámico y cambiante para cada letra, lo que lo hacía
                    altamente intrincado y difícil de descifrar. A pesar de la complejidad de máquinas como la Enigma,
                    los británicos lograron descifrar mensajes cruciales gracias a la colaboración con criptógrafos
                    polacos y al genio de Alan Turing, contribuyendo significativamente al esfuerzo bélico de los
                    Aliados.</h2>
            </div>
            <h3>1900</h3>
        </div>
    </div>
</div>
<app-footer></app-footer>