@import url(https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@800&family=Teko&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Overpass:wght@200&family=Source+Sans+3:wght@800&family=Teko&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Palanquin:wght@500&display=swap);
.main-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-top: 10%;
  z-index: 1;
  margin-bottom: 100px
}
.rectangles {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 50px
}
.rectangle {
  height: 350px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center
}
.left {
  margin-right: 10%
}
.right {
  background-color: #00f;
  margin-left: 10%
}
.one {
  background: linear-gradient(270deg,#8a7968 0,rgba(136,116,95,.9548611681000525) 45%,rgba(134,108,83,0) 100%),url(src\images\tumbaFinal.jpg);
  background-position: 120% 20%
}
.two {
  background: linear-gradient(90deg,#8f8e8a 0,rgba(143,142,138,.7867939412092962) 50%,rgba(143,142,138,0) 100%),url(src\images\CesarFinal.jpg);
  background-position: 120% 10%;
  background-size: cover;
  background-repeat: no-repeat
}
.three {
  background: linear-gradient(90deg,rgba(255,253,246,0) 0,rgba(144,122,101,.7783905798647583) 41%,#907a65 63%),url(src\images\Vigenere.jpeg)
}
.four {
  background: linear-gradient(270deg,rgba(240,240,240,0) 0,rgba(192,192,192,.4058415602569153) 11%,#989898 61%),url(src\images\enigma.jpg);
  background-position: 30% 25%
}
h3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 30%;
  flex: 1;
  font-size: 5vw;
  text-align: center;
  font-family: Teko,sans-serif;
  background-color: rgba(255,255,255,.15);
  color: #212529;
  border-radius: 100%;
  padding: 1%;
  margin: 15%
}
h1 {
  flex: 2;
  font-family: Teko,sans-serif;
  font-size: 5vw;
  height: fit-content
}
h2 {
  flex: 1;
  font-family: Oswald,sans-serif;
  font-size: 1.3vw;
  text-align: justify;
  align-self: flex-start
}
.rectangle-column {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  padding: 3%
}
.right .rectangle-column {
  align-items: flex-start
}
.infoInicial {
  width: 80%;
  margin: auto;
  margin-bottom: 5%;
  color: #fff;
  font-size: 1.5vw;
  font-family: Oswald,sans-serif;
  font-family: Palanquin,sans-serif;
  text-align: center
}
.four {
  height: 450px
}
.three {
  height: 400px
}
.two {
  height: 400px
}
.tituloPequeño {
  font-size: 1.6vw;
  text-transform: uppercase
}
@media screen and (max-width:675px) {
  .main-container {
    padding-top: 40%
  }
  .infoInicial {
    font-size: 4vw;
    margin-bottom: 40%
  }
  .tituloPequeño {
    font-size: 5vw
  }
  .rectangles {
    justify-content: center;
    align-items: center
  }
  .rectangle {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10%;
    padding-top: 15%;
  }
  .rectangle-column {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10%;
  }
  h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 8vw;
    flex: 1;
    text-align: center;
    padding: 0;
    margin: 0
  }
  h2 {
    font-size: 4vw;
    margin: 5%
  }
  h3 {
    margin: 0;
    padding: 0;
    height: 5%;
    margin-top: 2%;
    background-color: rgba(255,255,255,0);
    font-size: 8vw
  }
  .right .rectangle-column {
    align-items: center
  }
  .right h3 {
    order: -1
  }
  .left {
    margin-right: 0
  }
  .right {
    margin-left: 0
  }
  .one {
    background: linear-gradient(90deg,rgba(255,253,246,0) 0,rgba(144,122,101,.8204073865874475) 0),url(src\images\tumbaFinal.jpg);
    background-position: 10% 30%
  }
  .two {
    background: linear-gradient(90deg,rgba(255,253,246,0) 0,rgba(212,211,210,.82) 0),url(src\images\CesarFinal.jpg);
    background-position: 0 40%
  }
  .three {
    background: linear-gradient(90deg,rgba(255,253,246,0) 0,rgba(144,122,101,.8204073865874475) 0),url(src\images\Vigenere.jpeg);
    background-position: 0 40%
  }
  .four {
    background: linear-gradient(90deg,rgba(255,253,246,0) 0,rgba(117,115,114,.82) 0),url(src\images\enigma.jpg);
    background-position: 0 40%
  }
}