@import url(https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@800&family=Teko&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Overpass:wght@200&family=Source+Sans+3:wght@800&family=Teko&display=swap);

.main-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-top: 10%;
    z-index: 1;
    margin-bottom: 100px;
}

.rectangles {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 50px;
}

.rectangle {
    height: 350px;
    /* Altura de los rectángulos */
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.left {
    margin-right: 10%;

}

.right {
    background-color: blue;
    margin-left: 10%;

}

.one {
    background: linear-gradient(270deg, rgba(96, 78, 40, 1) 0%, rgba(168, 141, 96, 0.8064017843465512) 49%, rgba(168, 141, 96, 0.11172391319809172) 86%), url(src\images\KhnoumhotepII.jpg);
    background-position: 80% 20%;
}

.two {

    background: linear-gradient(100deg, rgba(138,121,104,1) 0%, rgba(136,116,95,0.8680264342064951) 53%, rgba(134,108,83,0) 100%), url(src\images\cesar.jpeg);
    background-position: 80% 25%;
    background-size: cover;
    background-repeat: no-repeat;
}

.three {
    background: linear-gradient(90deg, rgba(255, 253, 246, 0.04169590199360995) 0%, rgba(197, 185, 171, 0.5038807759431898) 30%, rgba(144, 122, 101, 1) 55%), url(src\images\Vigenere.jpeg);


}

.four {
    background: linear-gradient(270deg, rgba(240, 240, 240, 0) 0%, rgba(192, 192, 192, 0.4058415602569153) 11%, rgba(152, 152, 152, 1) 61%), url(src\images\enigma.jpg);
    background-position: 30% 25%;

}

h3 {
    /* width: 20%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 30%;
    flex: 1;
    font-size: 5vw;
    text-align: center;
    font-family: Teko, sans-serif;
    background-color:rgba(255, 255, 255, 0.15);
    color: #212529;
    border-radius: 100%;
    padding: 1%;
    margin:15%;
}

h1 {
    flex:2;
    font-family: Teko, sans-serif;
    font-size: 5vw;
    height: fit-content;


}

h2 {
    flex:1;
    font-family: Oswald, sans-serif;
    font-size: 1.3vw;
    text-align: justify;
    align-self: flex-start;

}

.rectangle-column {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding: 3%;
}

.right .rectangle-column {
    align-items: flex-start;
}

.infoInicial{
    width: 80%;
    margin: auto;
    margin-bottom: 5%;
    color: white;
    font-size: 1.5vw;
    font-family: Oswald, sans-serif;
    text-align: center;
    
}

.four{
    height: 450px;
}

.three{
    height: 400px;
}

.two{
    height: 400px;
}