<app-sidebar></app-sidebar>
<div class="main-container">
  <div class="info">
    <h1>Caesar Cipher</h1>
    <p>The Caesar Cipher is a substitution cipher method in which each letter in the original text is shifted by a fixed
      number of positions in the alphabet. This shift is known as the "key" and determines the transformation of the
      letters. While it is one of the simplest encryption techniques, the Caesar Cipher illustrates the fundamental
      principle of cryptography: the transformation of data to protect its confidentiality. However, due to its
      simplicity, the Caesar Cipher is vulnerable to brute-force attacks and is not considered secure for protecting
      sensitive data in modern applications.</p>
  </div>
  <div class="input-container">
    <p>Plain Text</p>
    <input type="text" name="inputText" class="input" placeholder="Write a message" id="inputText" [ngModel]="inputText"
      (ngModelChange)="inputText = $event.toUpperCase(); updateCipher()">

  </div>
  <div class="rows">
    <div class="row1">
      <div class="letter" *ngFor="let letter of row1">{{ letter }}</div>
    </div>
    <div class="controls">
      <button role="button" class="button-name" (click)="moveRow('left')"><- </button>
          <p>Shift: {{shift}}</p>
          <button role="button" class="button-name" (click)="moveRow('right')">-></button>
    </div>
    <div class="row2">
      <div class="letter" *ngFor="let letter of row2">{{ letter }}</div>
    </div>
  </div>
  <div class="input-container">
    <p>Encrypted text</p>
    <input type="text" name="outputText" class="input" placeholder="Write a message" id="outputText"
      [(ngModel)]="outputText" (ngModelChange)="outputText = $event.toUpperCase(); updatePlainText()">
  </div>
</div>
<app-footer></app-footer>