<app-sidebar></app-sidebar>
<div class="main-container">
    <div class="info">
        <h1>Key Figures in Cryptography</h1>
        <p>Discover the significant contributions of influential individuals who have shaped the landscape of cryptography and digital security.</p>
    </div>

    <!-- <div class="gallery" id="gallery">
        <div class="gallery-item">
            <div class="content"><img src="assets\gallery\Alan_Turing_(1912-1954)_in_1936_at_Princeton_University.jpg" alt="Alan Turing"></div>
        </div>
        <div class="gallery-item">
            <div class="content"><img src="assets\gallery\Bruce_Schneier_1.jpg" alt="Bruce Schneier"></div>
        </div>
        <div class="gallery-item">
            <div class="content"><img src="assets\gallery\DavidChaum.png" alt="David Chaum"></div>
        </div>
        <div class="gallery-item">
            <div class="content"><img src="assets\gallery\ElGamal.jpg" alt="Taher Elgamal"></div>
        </div>
        <div class="gallery-item">
            <div class="content"><img src="assets\gallery\Len-mankin-pic.jpg" alt="Leonard Adleman"></div>
        </div>
        <div class="gallery-item">
            <div class="content"><img src="assets\gallery\Martin-Hellman.jpg" alt="Martin Hellman"></div>
        </div>
        <div class="gallery-item">
            <div class="content"><img src="assets\gallery\Ronald_L_Rivest_photo.jpg" alt="Ron Rivest"></div>
        </div>
        <div class="gallery-item">
            <div class="content"><img src="assets\gallery\Whitfield_Diffie_Royal_Society.jpg" alt="Whitfield Diffie"></div>
        </div>
    </div> -->
    <div class="gallery-image">
        <div class="img-box">
            <img src="assets\gallery\Alan_Turing_(1912-1954)_in_1936_at_Princeton_University.jpg" alt="" />
            <div class="transparent-box">
                <div class="caption">
                    <p>Alan Turing</p>
                    <p class="opacity-low">Father of Computer Science and Codebreaker during WWII</p>
                </div>
            </div>
        </div>
    
        <div class="img-box">
            <img src="assets\gallery\Bruce_Schneier_1.jpg" alt="" />
            <div class="transparent-box">
                <div class="caption">
                    <p>Bruce Schneier</p>
                    <p class="opacity-low">Renowned Security Expert and Cryptography Author</p>
                </div>
            </div>
        </div>
    
        <div class="img-box">
            <img src="assets\gallery\DavidChaum.png" alt="" />
            <div class="transparent-box">
                <div class="caption">
                    <p>David Chaum</p>
                    <p class="opacity-low">Pioneer in Cryptographic Privacy and Digital Cash</p>
                </div>
            </div>
        </div>
    
        <div class="img-box">
            <img src="assets\gallery\ElGamal.jpg" alt="" />
            <div class="transparent-box">
                <div class="caption">
                    <p>Taher Elgamal</p>
                    <p class="opacity-low">Co-inventor of the ElGamal Encryption Algorithm</p>
                </div>
            </div>
        </div>
    
        <div class="img-box">
            <img src="assets\gallery\Len-mankin-pic.jpg" alt="" />
            <div class="transparent-box">
                <div class="caption">
                    <p>Leonard Adleman</p>
                    <p class="opacity-low">Co-inventor of the RSA Algorithm</p>
                </div>
            </div>
        </div>
    
        <div class="img-box">
            <img src="assets\gallery\Martin-Hellman.jpg" alt="" />
            <div class="transparent-box">
                <div class="caption">
                    <p>Martin Hellman</p>
                    <p class="opacity-low">Co-inventor of the Diffie-Hellman Key Exchange</p>
                </div>
            </div>
        </div>
    
        <div class="img-box">
            <img src="assets\gallery\Ronald_L_Rivest_photo.jpg" alt="" />
            <div class="transparent-box">
                <div class="caption">
                    <p>Ron Rivest</p>
                    <p class="opacity-low">Co-inventor of the RSA Algorithm</p>
                </div>
            </div>
        </div>
    
        <div class="img-box">
            <img src="assets\gallery\Whitfield_Diffie_Royal_Society.jpg" alt="" />
            <div class="transparent-box">
                <div class="caption">
                    <p>Whitfield Diffie</p>
                    <p class="opacity-low">Co-inventor of the Diffie-Hellman Key Exchange</p>
                </div>
            </div>
        </div>
    </div>
    
</div>