<div class="main">
  <div class="principal">
    <div class="typ">
      <h1>
        <#> CryptoCipher
      </h1>
    </div>
    <div class="info">
      <b>Undergraduate Thesis</b>
      <p>Mathematical Foundations of Public Key Cryptography</p>
      <b>Author</b>
      <p>Roberto Calderón Sequera</p>
      <b>Supervisor</b>
      <p>Alfonso Zamora Saiz</p>
      <p>Department of Applied Mathematics to ICT</p>
      <a routerLink="">More Information</a>
      <a routerLink="contact">Contact</a>

    </div>
  </div>

  <div class="blank"></div>

  <div class="principal second">
    <div class="item" routerLink="/historia">
      <h3>History</h3>
    </div>
    <div class="item" routerLink="/caesar">
      <h3>Caesar Cipher</h3>
    </div>
    <div class="item" routerLink="/elgamal">
      <h3>Elgamal</h3>
    </div>
  </div>

  <div class="blank"></div>
</div>
<app-footer></app-footer>