@import url(https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@800&family=Teko&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Overpass:wght@200&family=Source+Sans+3:wght@800&family=Teko&display=swap);
.main {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  max-width: 100vw;
  font-family: 'Red Hat Text',sans-serif;
  overflow-x: hidden
}
.principal {
  width: 100%;
  max-width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f8f9fa;
  background-size: cover;
  background-position: center;
  background-attachment: fixed
}
.blank {
  width: 100%;
  min-height: 40vh;
  background-color: #343a40
}
h1 {
  font-weight: 700;
  color: #343a40;
  font-family: Teko,sans-serif;
  font-size: 7vw
}
.typ {
  width: 38vw;
  animation: typing 2s steps(22),blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  line-height: .7em;
  font-family: monospace;
  font-size: 2em;
  color: #343a40
}
.info {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: 15vh;
  text-align: center;
  padding: 15px;
  background-color: #343a40;
  color: #fff;
  border-radius: 4px;
  box-shadow: rgba(0,0,0,.24) 0 3px 8px;
  min-width: 40%
}
a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 0.3em;
  font-weight: 700;
  margin-top: 5%
}
@keyframes typing {
  from {
    width: 0
  }
}
@keyframes blink {
  50% {
    border-color: transparent
  }
}
.second {
  background-image: url(src\images\fondo6.jpg);
  background-attachment: fixed;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
}
.item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  max-width: 18vw;
  height: 55%;
  background-color: #dee2e6;
  flex-direction: column;
  margin-top: 5%;
  border-radius: .5em;
  -webkit-box-shadow: 0 29px 38px -15px rgba(0,0,0,.43);
  -moz-box-shadow: 0 29px 38px -15px rgba(0,0,0,.43);
  box-shadow: 0 29px 38px -15px rgba(0,0,0,.43);
  transition: all .3s ease;
  cursor: pointer
}
.item:hover {
  background-color: #212529;
  color: #dee2e6!important;
  transform: scale(1.05)
}
h3 {
  font-family: Teko,sans-serif;
  font-weight: 700;
  font-size: 2.5rem;
  margin-top: 1em;
  text-align: center
}
@media screen and (max-width:675px) {
  h1 {
    font-size: 12vw
  }
  .typ {
    width: 65vw
  }
  .info {
    max-width: 80%
  }
  .blank {
    min-height: 20vh
  }
  .second {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start
  }
  .item {
    min-width: 80vw;
    max-height: 15vh;
    margin-top: 5%
  }
}