<div class="main">
  <div class="principal">
      <div class="typ">
        <h1><#> CryptoCipher</h1>
      </div>
      <div class="info">
        <b>Trabajo de Fin de Grado</b>
        <p>Fundamentos Matemáticos de la Criptografía en Clave Pública</p>
        <b>Autor</b>
        <p> Roberto Calderón Sequera</p>
        <b>Tutor</b>
        <p>Alfonso Zamora Saiz</p>
        <p>Departamento de Matemática Aplicada a las TIC</p>
        <a href="#">Más información</a>
      </div>
    </div>

    <div class="blank"></div>

    <div class="principal second">
      <div class="item" routerLink="/historia">
        <h3>Historia</h3>
      </div>
      <div class="item" routerLink="/diffie">
        <h3>Diffie-Hellmann</h3>
      </div>
      <div class="item" routerLink="/caesar">
        <h3>Cifrado César</h3>
      </div>
      <div class="item" routerLink="/rsa">
        <h3>RSA</h3>
      </div>

    </div>

    <div class="blank"></div>
</div>
<app-footer></app-footer>