nav{
  width: 100%;
  position: fixed;
  top:50px;
  text-align:center;
}
nav a{
  font-family: 'Oswald', sans-serif;
  font-weight:500;
  text-transform:uppercase;
  text-decoration:none;
  color:#F8F9FA ;
  margin:0 15px;
  padding: 15px 20px;
  font-size:16px;
  letter-spacing:1px;
  position:relative;
  display:inline-block;
}

nav a:hover{
  border: 1px solid #F8F9FA; 
}