<nav>
  <div class="hamburguesa">
    <label class="container" id="menuToggle">
      <input type="checkbox" id="menuCheckbox" (click)="toggleMenu()">
      <div class="checkmark">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </label>
    <a routerLink="">
      <h1>
        <#> CryptoCipher
      </h1>
    </a><br>
  </div>
  <a routerLink="" class="titulo">
    <h1>
      <#> CryptoCipher
    </h1>
  </a><br>
  <div class="navigation" *ngIf="menuVisible || getWindowWidth() >= 883"><ul>
    <li><div class="li"><a data-hover="History" routerLink="/historia">History</a></div></li>
    <li><div class="li"><a data-hover="Caesar Cipher" routerLink="/caesar">Caesar Cipher</a></div></li>
    <li><div class="li"><a data-hover="Elgamal" routerLink="/elgamal">Elgamal</a></div></li>
    <li><div class="li"><a data-hover="Cryptographers" routerLink="/gallery">Cryptographers</a></div></li>
    <li><div class="li"><a data-hover="Contact" routerLink="/contact">Contact</a></div></li>
  </ul>
  </div>
</nav>