<nav>
  <div class="hamburguesa">
    <label class="container" id="menuToggle">
      <input type="checkbox" id="menuCheckbox" (click)="toggleMenu()">
      <div class="checkmark">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </label>
    <a routerLink=""><h1><#> CryptoCipher</h1></a><br>
  </div>
  <a routerLink="" class="titulo"><h1><#> CryptoCipher</h1></a><br>
  <div class="navigation" *ngIf="menuVisible || getWindowWidth() >= 883">
    <div class="li"><a data-hover="Historia" routerLink="/historia">Historia</a></div>
    <div class="li"><a data-hover="Cifrado César" routerLink="/caesar">Cifrado César</a></div>
    <div class="li"><a data-hover="Elgamal" routerLink="/elgamal">Elgamal</a></div>
    <div class="li"><a data-hover="Baby-Step Giant-Step" routerLink="/babyGiant">Baby-Step Giant-Step</a></div>
    <div class="li"><a data-hover="Pholing-Hellman" routerLink="/pohlig">Pohling-Hellman</a></div>
    <div class="li"><a data-hover="Miller" routerLink="/miller">Miller</a></div>
    <div class="li"><a data-hover="RSA" routerLink="/rsa">RSA</a></div>
  </div>
</nav>